<% if flash %>
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<% end %>
<% if user_signed_in? %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <h4>Your profile:</h4>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="image">
            <div class="row">
              <div class="col-md-2">
                <%= image_tag (current_user.image.url), size: "150x150" if current_user.image.present? %>
              </div>
              <div class="col-md-10">
                <label>Welcome,</label>
                <%= current_user.first_name %> <br />
                <%= link_to 'Update',edit_employee_path(current_user), class: "btn btn-success"%>
                <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="fullname">
            <div class="row">
              <div class="col-md-1">
                <label>Name:</label>
              </div>
              <div class="col-md-11">
                <%= current_user.first_name %>
                <%= current_user.last_name %>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="email">
            <div class="row">
              <div class="col-md-1">
                <label>Email:</label>
              </div>
              <div class="col-md-11">
                <%= current_user.email %>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="position">
            <div class="row">
              <div class="col-md-1">
                <label>Position:</label>
              </div>
              <div class="col-md-11">
                <%= current_user.role %>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="age">
            <div class="row">
              <div class="col-md-1">
                <label>Age:</label>
              </div>
              <div class="col-md-11">
                <%= current_user.age %>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="birthdate">
            <div class="row">
              <div class="col-md-1">
                <label>Birthdate:</label>
              </div>
              <div class="col-md-11">
                <%= current_user.birthdate.to_s(:long) %>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<% else %>
<div class="alert alert-info" role="alert">
  <label>Notice:</label> &nbsp; Opps!, You need to login for continuing...
</div>
Go to <%= link_to 'Login', new_user_session_path, style: "color: blue" %>
<% end %>
