<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<div class="container1">
    <div class="col-md-12">
      <h2>HR-Index</h2>
      <% if user_signed_in? %>
        Welcome,
        <%= link_to current_user.role.upcase, edit_user_registration_path %> <br />
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Login',new_user_session_path %> <br />
      <% end %>
      <br /><br />
      <%= link_to 'Create Employee Record',new_human_resource_path %>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Fullname</th>
            <th>Image</th>
            <th>Age</th>
            <th>Birthdate(y/m/d)</th>
            <th>Email</th>
            <th>Position</th>
            <th>Actions</th>
          </tr>
        </thead>
      <% @users.each do |t| %>
        <tbody>
          <tr>
            <td><%= t.first_name %> <%= t.last_name %></td>
            <td>
              <%= image_tag t.image.url(), size: "50x50" if t.image.present? %>
            </td>
            <td><%= t.age %></td>
            <td><%= t.birthdate %></td>
            <td><%= t.email %></td>
            <td><%= t.role %></td>
            <td>
                <%= link_to 'Show',human_resource_path(t) %> |
                <%= link_to 'Update',edit_human_resource_path(t)%> |
                <%= link_to 'Delete',human_resource_path(t), method: :delete, data: { confirm: "Are you sure you want to delete this record?" } %>
            </td>
          </tr>
        </tbody>
      <% end %>
      </table>
    </div>
</div>
<%= link_to 'request page', requests_human_resources_path %>
